/* ===============================
 * footer 
 * ==============================*/
#footer {
  background-color: #393939;
  background-image: #393939;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2a1810',endColorstr='#ff2a1810',GradientType=0);
  border-top: 5px solid #393939;
  padding: 15px 0 5px;
}

#footer .devider {
  border-right: 1px solid #fff;
  margin: 0 21px;
  float: left;
  min-height: 152px;
}

/* company infos */
.company_infos {
  font-family: Arial,sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #fff;
}

.company_infos img {
  width: 180px;
  height: 50px;
  margin: 0 0 10px;
}

.company_infos p {
  margin: 0;
  padding: 0;
}

#footer .links {
  margin-bottom: 15px;
}

#footer .links .title {
  display: block;
  font-family: Federo,sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 10px;
  padding: 0;
}

#footer .links ul li a {
  font-family: Arial,sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

#footer .links ul li a:hover {
  color: #a6754b;
}

#footer .links .message {
  display: block;
  font-family: Arial,sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #fff;
  margin: 0 0 5px;
}

#footer .searchbox {
  width: auto;
  position: inherit;
  margin-bottom: 12px;
}

#footer .searchbox input {
  height: 25px;
}

#footer .searchbox button {
  padding: 4.7px 8px;
}

#footer .fa {
  font-size: 28px;
  color: #A7A7A7;
}

#footer .social {
  margin-top: -10px;
}

#footer #services {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
}

#footer #services .box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  background: #fff;
  border-radius: 2px;
  margin: 0 5px 10px;
  padding: 5px 10px;
  vertical-align: top;
  width: 100%;
  min-height: 100px;
}

#footer #services .title {
  color: #a6754b;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
}

#footer #services .content {
  font-family: Arial,sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #222;
  margin: 5px 0 0;
}

#footer #services .link {
  margin: 5px 0 0;
  font-weight: 700;
  color: #3d2317;
  text-decoration: none;
}

#footer #services .link:hover {
  color: #a6754b;
}

#footer .description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

#footer #copyright {
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

#footer #copyright a {
  color: #a6754b;
}