/* ===============================
 * Form Elements 
 * ==============================*/
input[class*="button"],a[class*="button"],span[class*="button"] {
  background-color: #ADADAE;
  background-image: #ADADAE;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcba98b',endColorstr='#ffa6754b',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #ADADAE;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ADADAE;
  border-bottom-color: #ADADAE;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  outline: 0;
  padding: 5px 8px;
}

input[class*="exclusive"],a[class*="exclusive"],span[class*="exclusive"] {
  background-color: #8A8A8B;
  background-image: #8A8A8B;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff623824',endColorstr='#ff3d2317',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #8A8A8B;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #8A8A8B;
  border-bottom-color: #8A8A8B;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  outline: 0;
  padding: 5px 8px;
}







/* ==================================== */
input[type='text'],textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 25px;
  display: inline-block;
  outline: 0;
  padding: 0 5px;
}

//select {
//  appearance: none;
//  -moz-appearance: none; /* Firefox */
//  -webkit-appearance: none; /* Safari and Chrome */
//  background-image: url(../images/select-icon.png) !important;
//  background-position: center right;
//  background-repeat: no-repeat !important;
//  line-height: 22px !important;
//  padding-right: 35px;
//}


/*textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus {
  border: inherit;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.2);
}*/

/*input,select,textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: 300;
  height: auto;
  line-height: 16px;
  display: inline-block;
  outline: 0;
  padding: 4px 6px;
}*/

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 80px;
  overflow: auto;
  vertical-align: top;
  resize: none;
}

/*textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  overflow: auto;
  vertical-align: top;
  resize: none;
}*/

form.std h3 {
  background-color: #53301f;
  background-image: -webkit-linear-gradient(top,#623825,#3d2317);
  background-image: linear-gradient(to bottom,#623825,#3d2317);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff623824',endColorstr='#ff3d2317',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #3d2317;
  border: 1px solid #3d2317;
  border-bottom-color: #180e09;
  border-radius: 2px;
  padding: 8px 10px;
}

/*form.std h3 {
  background-color: #53301f;
  background-image: -webkit-linear-gradient(top,#623825,#3d2317);
  background-image: linear-gradient(to bottom,#623825,#3d2317);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff623824',endColorstr='#ff3d2317',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #3d2317;
  border: 1px solid #3d2317;
  border-bottom-color: #180e09;
  border-radius: 2px;
  padding: 8px 10px;
  margin: 0 0 15px;
}*/

form.std fieldset {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #f9f9f9;
  margin: 20px 0;
  padding: 10px;
}

/*fieldset {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #f9f9f9;
  margin: 20px 0;
  padding: 10px;
}*/

form label {
  font-weight: inherit !important;
  margin-top: 10px;
}

form.std p {
  padding: 5px;
}

/* Radio */
.radio input[type=radio],.radio-inline input[type=radio] {
  margin-left: 3px;
  top: -2px;
}

form.std .radio label,form.std .radio span {
  display: inline;
  padding-right: 5px;
  cursor: pointer;
}


/*label {
  margin-top: 10px;
}*/



/* Others */
/*.authentication form select {
  position: relative;
  left: -1px;
  height: 24px;
  z-index: 100;
  min-width: 60px;
  cursor: pointer;
  padding: 4px 2px;
}

form.std select {
  width: 280px;
}

form.std label,form.std .birth {
  display: block;
  margin-bottom: 2px;
}

input#zipcode {
  width: 155px;
}
*/


/* form group */
.form-group {
    margin-bottom: 0px;
}

textarea,textarea.form-control {
  line-height: 20px;
  font-size: 12px;
  font-family: Federo,Arial,sans-serif;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus,textarea.form-control:focus,.form-control:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="text"]:-moz-placeholder,input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder,textarea.form-control:-moz-placeholder {
  color: #888;
}

input[type="text"]:-ms-input-placeholder,input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,textarea.form-control:-ms-input-placeholder {
  color: #888;
}

input[type="text"]::-webkit-input-placeholder,input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,textarea.form-control::-webkit-input-placeholder {
  color: #888;
}

.attribute_fieldset{padding-bottom: 3px;}
.attribute_label{display: block;text-align: initial;}
.attribute_list select,.product_attributes select {width: 100%;}
.not_in_comm{display:none;}
.not_in_comm .alert-danger{border: none;border-radius: 0;font-size: 15px;background-color: #D4A47C;color: #fff;line-height: 1.5;}
#statuts input[type='checkbox']{
  display: inline-block;
  width: 25px;
  height: 12px;
  margin-left: 25px;
}