/* ===============================
 * order 
 * ==============================*/
#order_step {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

#order_step .step_line {
  border-top: 1px solid #ebded2;
  position: absolute;
  top: 23px;
  width: 100%;
}

#order_step li {
  float: left;
  position: relative;
  width: 25%;
  color: #a6754b;
  font-family: Federo,sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
  padding: 8px 0;
  white-space: nowrap;
  z-index: 1;
}

#order_step a {
  opacity: .6;
  filter: alpha(opacity=60);
  color: #a6754b;
}

#order_step .step_current,#order_step .step_current_end {
  color: #623825;
}

#order_step .step_current .number,#order_step .step_current_end .number,#order_step .step_done .number {
  background-color: #53301f;
  background-image: -webkit-linear-gradient(top,#623825,#3d2317);
  background-image: linear-gradient(to bottom,#623825,#3d2317);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff623824',endColorstr='#ff3d2317',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #2a1810;
  border: 1px solid #3d2317;
  border-bottom-color: #180e09;
  border-radius: 2px;
}
#order_step .step_current_end .number,#order_step .step_done .number {
  background-color: #C19B7B;
  background-image: -webkit-linear-gradient(top,#623825,#3d2317);
  background-image: linear-gradient(to bottom,#C19B7B,#C19B7B);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff623824',endColorstr='#ff3d2317',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #C19B7B;
  border: 1px solid #C19B7B;
  border-bottom-color: #C19B7B;
  border-radius: 2px;
}

#order_step .number {
  background-color: #f4e9e3;
  background-image: -webkit-linear-gradient(top,#faf5f2,#ecd7cd);
  background-image: linear-gradient(to bottom,#faf5f2,#ecd7cd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffaf4f1',endColorstr='#ffecd6cc',GradientType=0);
  color: #623825;
  text-shadow: 1px 1px 0 #fff;
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  display: inline-block;
  width: 40px;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 5px;
}

#summary .cart_unit,#summary .cart_quantity {
  text-align: center;
}

#summary .cart_quantity {
  width: 60px;
}

#summary .cart_total,#summary .cart_discount_price {
  text-align: right;
}

.bold {
  font-weight: 700;
}

#summary .cart_available {
  color: #418b19;
}

#summary .cart_delete a,#summary .cart_discount_delete a {
  color: #a6754b;
  font-size: 11px;
  text-decoration: underline;
}

#summary .cart_quantity_input {
  width: 30px;
  text-align: center;
}

#summary .cart_quantity_button {
  float: right;
  margin-top: -6px;
}

#summary .cart_quantity_button a {
  display: block;
  width: 16px;
  height: 14px;
}

#summary_total {
  font-weight: 700;
  text-align: right;
}

#summary_total #total_price_label {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 5px;
}

#summary_total #total_price_amount {
  font-size: 18px;
  font-weight: 300;
  padding: 10px 5px;
}

#summary_voucher {
  font-weight: 700;
}

#summary_voucher .title_voucher {
  margin: 0 0 10px;
}

#summary_voucher .title_voucher,#summary_voucher .title_offers {
  color: #3d2317;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0 5px;
}

#summary_voucher .searchbox {
  width: 280px;
  min-height: 26px;
  top: 0;
  position: inherit;
}

#compare_shipping_form #availableCarriers_table th,#compare_shipping_form #availableCarriers_table td {
  padding: 5px 10px;
}

.cart_navigation {
  margin: 20px 0;
}

.cart_navigation,.address_add,form.std .submit {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #fcfcfc;
  overflow: hidden;
  clear: both;
  padding: 10px !important;
}

.cart_navigation{
  /*margin: 10px -15px -15px;*/
}


/* Order Auth */
#instantOrder input[type=checkbox],#instantOrder input[type=radio] {
  margin: 2px 0 0;
  margin-left: -16px;
}

#instantOrder h3 {
  background-color: #53301f;
  background-image: -webkit-linear-gradient(top,#623825,#3d2317);
  background-image: linear-gradient(to bottom,#623825,#3d2317);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff623824',endColorstr='#ff3d2317',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #3d2317;
  border: 1px solid #3d2317;
  border-bottom-color: #180e09;
  border-radius: 2px;
  padding: 8px 10px;
}

.form-control {
/*#instantOrder */
  height: 28px;
  padding: 5px;
}

/* Adresses */
.addresses {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #f9f9f9;
  margin: 20px 0;
  padding: 15px;
}

.address {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #fcfcfc;
  float: left;
  width: 100%;
  margin: 10px 0 5px;
  padding: 5px;
}

.checkbox input[type=checkbox] {
  margin-left: 0;
  margin: 1px 0 0;
}

.address .address_title {
  color: #a6754b;
  font-size: 16px;
  line-height: 16px;
  padding: 5px 10px 10px;
}

#ordermsg .txt {
  margin: 20px 0 10px;
}

.address .address_name,.address .address_firstname,.address .address_lastname,.address .address_company {
  font-weight: 700;
}

.address .address_update {
  margin-top: 10px;
}

.address .address_update,.address .address_delete {
  font-weight: 700;
}

.address li {
  padding: 0 10px 2px;
}

/*.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../images/select-icon.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 35px;
  line-height: 15px;
  width: auto;
}*/

/* order checkout */
.order_carrier_content {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #f9f9f9;
  padding: 15px;
}

.tnc_box,.box {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #fcfcfc;
  margin: 10px 0 0;
  padding: 5px 15px;
}

.order_carrier_content h3 {
  margin: 20px 0 10px;
}

/* Payments methodes */
#cart_summary .cart_available {
  color: #418b19;
}

#cart_summary .cart_total,#cart_summary .cart_discount_price {
  text-align: right;
}

#cart_summary_total #total_price_label {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 5px;
}

#cart_summary_total #total_price_amount {
  font-size: 18px;
  font-weight: 300;
  padding: 10px 5px;
}

.payment_module {
  border: 1px solid #ebded2  ;
  border-bottom-color: #dbc3af  ;
  border-radius: 2px !important;
  background: #f9f9f9;
  font-size: 14px;
  overflow: hidden;
  margin: 10px 0 !important;
  padding: 10px !important;
  clear: both;
}

/* Order */
#summary textarea,#summary input[type="text"],#summary input[type="password"],#summary input[type="email"] {
  -webkit-transition: border .2s linear,box-shadow .2s linear;
  transition: border .2s linear,box-shadow .2s linear;
}

#summary input,#summary select,#summary textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #222;
  font-family: Arial,sans-serif;
  font-size: 11px;
  font-weight: 300;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  outline: 0;
  padding: 10px 5px;
}
.alert-success{    
  /*border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #f9f9f9;
  padding: 10px 15px;
  color: #000;*/
  }

.order-detail li:before{content: initial !important;}
table tfoot {
    background: #f9f9f9;
    font-weight: 700;
    text-align: end;
}
.order-detail {display: none;}
#adresse_select_invoice{display: none;}