@import  "account.css";
@import  "forms.css";
@import  "tables.css";

/* ===============================
 * Body styles 
 * ==============================*/
body {
  /*background: #c27e5e url(../images/texture.png) repeat center top;*/
  color: #222;
  font-family: Federo,Arial,sans-serif;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  -webkit-text-size-adjust: 100%;
  /*margin-top: 10px;*/
}

dl,dt,dd,hr,code,pre,h1,h2,h3,h4,h5,h6,fieldset,button,p,th,td,img {
  border: 0;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

:focus {
  outline: none;
}

sup {
  color: #da0f00;
  font-size: 12px;
  padding: 0 2px;
  vertical-align: sub;
}

/* Hypeertext Links ,a:visited*/
a {color: #222; }
a:focus,a:hover,a:active {
  text-decoration: none;
  color: #623825;
}

.exclusive:focus,.exclusive:visited,
.exclusive:hover,.exclusive:active{
  color:#fff;
}


/* Headlines */
h1,h2,h3,h4,h5,h6 {
  color: #623825;
  font-family: Federo,sans-serif;
  font-weight: 300;
  margin: 0 0 15px;
}

h1,h2 {
  border-bottom: 1px solid #ebded2;
  font-size: 21px;
  line-height: 20px;
  padding: 8px 0;
}

h3 {
  font-size: 19px;
  line-height: 18px;
}

#cms .rte, #cms .block-cms {
    background: #ffffff;
    padding: 5px 0;
}
.rte p {
    padding: 5px 0;
}
.grenat-color{
  color: #6E0B14;
}
/*#availability_value{display: block;text-align: right}*/
.fa-check{color: #86AD2A;font-size: 16px;}
/* Full width */
.full-width {
  width: 100%;
}

.text-underline{
  text-decoration: underline;
}
/* ===============================
 * header 
 * ==============================*/

/* header links */
#header .links .selected {
  color: #8A8A8B;
}

#header .links li {
  border-left: 1px solid #a6754b;
  float: left;
  line-height: 14px;
  padding: 0 10px;
}

#header .links li:first-child {
  border-left: 0 none;
  padding-left: 0;
}

/* selectbox */
.selectbox {
  background-color: #8A8A8B;
  background-image: #8A8A8B;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcba98b',endColorstr='#ffa6754b',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #835c3b;
  border: 1px solid #8A8A8B;
  border-bottom-color: #8A8A8B;
  border-radius: 2px;
  float: left;
  font-size: 12px;
  margin: -12px 10px 0 0;
}

.selectbox form {
  width: 6px;
  position: relative;
  cursor: pointer;
  padding: 1px 35px 1px 13px;
}

.selectbox select {
  margin-left: -14px;
  padding-left: 4px;
  background: transparent;
  border: #8A8A8B;
  width: 50px;
}

.selectbox option {
  border: 1px solid #8A8A8B;
  border-bottom-color: #8A8A8B;
  border-radius: 0 0 2px 2px;
  background: #8A8A8B;
  border-top: 0;
  position: absolute;
  top: 15px;
  left: -1px;
  padding: 5px 20px 5px 8px;
  white-space: nowrap;
  z-index: 1000;
  color: #fff;
}

.selectbox option.selected {
  color: #222;
}

/* shopping cart */
#shopping_cart {
  top: -15px;
  position: relative;
}

#shopping_cart a {
  background: url(../images/cart.png) no-repeat right top;
  display: block;
  white-space: nowrap;
  text-align: right;
  margin-top: 10px;
  padding: 8px 65px 5px 0;
  min-height: 50px;
}

#shopping_cart .cart_title {
  display: block;
  font-family: Federo,sans-serif;
  font-size: 23px;
  line-height: 22px;
  font-weight: 300;
  color: #3d2317;
  margin-bottom: 5px;
}

#shopping_cart .product_quantity {
  font-size: 17px;
  color: #a6754b;
}

#cart_block .remove_link {
    float: right;
    clear: both;
    width: 16px;
    height: 16px;
    margin-left: 5px;
        position: relative;
    top: -4px;
}

#cart_block .remove_link a:before {
    content: "\f00d";
    font-family: 'FontAwesome';
    font-size: 18px;
    font-weight: 300;
}

#cart_block dl .price {
    float: right;
    font-weight: 700;
    color: #623825;
}

#cart_block dl dt, #cart_block dl dt a {
    font-weight: 700;
}

/* search */
.warning, .confirmation {
  background: #fcf8e3;
  border: 1px solid #faebcc;
  color: #c09853 !important;
}

/* search box */
.searchbox {
  width: 280px;
  min-height: 26px;
  top: -12px;
  //position: relative;/**/
}

.searchbox button ,.searchbox input[type="submit"]{
  background-color: #8A8A8B;
  background-image: #8A8A8B;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcba98b',endColorstr='#ffa6754b',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #8A8A8B;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #8A8A8B;
  border-bottom-color: #8A8A8B;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  outline: 0;
  padding: 5px;
}

.warning, .confirmation, .success, .error, .error_customerprivacy {
    border-radius: 2px;
    margin: 10px 0;
    padding: 10px 15px;
}

.product_total {
  font-size: 16px;
  color: #a6754b;
}

.product-list .short-description {
  display: none;
}

.product-list .lnk_view {
  display: none;
}

.product-list #availability_value{
  display: none;
}

.product-list .compare {
  display: none;
}

/* ===============================
 * breadcrumb 
 * ==============================*/
.breadcrumb {
  margin-bottom: 5px;
  padding: 0;
  background-color: transparent;
}

.breadcrumb>li+li:before {
  content: "\f101";
  font-family: 'FontAwesome';
}

.breadcrumb>.active {
  color: #3d2317;
  font-weight: 700;
}

/* ===============================
 * bootstrap 
 * ==============================*/
.padding0 {
  padding: 0 !important;
}

.margin0 {
  margin: 0 !important;
}

.padding15 {
  padding: 0 15px !important;
}

.paddingleft0 {
  padding-left: 0 !important;
}

/* bootstrap dropdown */
.marginBottom-0 {
  margin-bottom: 0;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #555;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/*Sub Menu*/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}



/* navbar custom */
.navbar-custom,.navbar-right,.navbar-brand {
  background-color: #ADADAE;
  background-repeat: repeat-x;
}

.navbar-custom .container-fluid {
  padding-right: 0;
}

.navbar-custom a {
  font-size: 17px;
  color: #fff !important;
}
.dropdown-menu>li>a{
    line-height: 2;
}
.navbar-nav>li>a{
  font-weight: bold;
}
.dropdown-menu>li>a{
  font-size: 15px;
}

.navbar-default .navbar-collapse {
  background-color: #8A8A8B;
  background-repeat: repeat-x;
}

#header .navbar {
  margin-top: -4px;
  margin-bottom: 0;
}

ul.navbar-nav:not(.navbar-right) li:hover,.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover,.open .dropdown-menu {
  background-color: #8A8A8B;
  background-repeat: repeat-x;
}

ul.navbar-right li:hover,ul.navbar-nav .open,.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
  background-color: #EDEDED;
  color: #8A8A8B !important;
  background-repeat: repeat-x;
}

ul.navbar-nav .open {
}

#cart_block_no_products {
  padding: 2px 0 5px;
}

#cart-prices {
  border-top: 1px solid #ebded2;
  padding: 5px 0;
  font-weight: 700;
}

#cart-prices .price {
  float: right;
  font-weight: 700;
  color: #623825;
}

#cart-buttons {
  overflow: hidden;
  margin: 10px 0 0;
}

#cart-buttons .button_small {
  float: left;
  color: #fff;
}

#cart-buttons .exclusive {
  float: right;
  color:#fff;
}


/* sidebar */
#sidebar .panel .panel-body li {
  padding: 2px 0;
  color: #222;
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 16px;
}

#sidebar .panel .panel-body li:hover {
  color: #A68AB5;
}

#center_column {
}


.lnk a, .lnk a:hover, .lnk a:focus,
a.button_large, a.button_large:hover, a.button_large:focus
{
  color: #fff;
}
.lnk {
  text-align: center;
  margin-top: 5px;
}

.lnk .button_large {
  width: 90%;
  text-align: center;
  padding-bottom: 8px;
}

.product_name {
  font-weight: 700;
  overflow: hidden;
}

.product_old_price {
  text-decoration: line-through;
}

#sidebar .media-body {
  line-height: 0;
}

#sidebar .media-body p {
  line-height: 1;
}

/* ===============================
 * Main Content
 * ==============================*/
/* panels */
.panel li:before {
  content: "\f0da";
  font-family: 'FontAwesome';
  font-weight: 300;
  float: left;
  margin: -1px 5px 0 -2px;
}

#sidebar .block {
  background-color: #EDEDED;
  padding: 10px;
}

#sidebar .panel {
  margin-bottom: 15px;
  border-radius: 0;
  border: 0;
}

#sidebar .panel:last-child {
  margin-bottom: 0;
}

#sidebar .panel .panel-heading {
  background: #8A8A8B;
  color: #fff;
}

/* ===============================
 * Main Content
 * ==============================*/
#main {
  padding: 10px;
  background: #fff;
/*  min-height: 900px;*/
}

#content {
  padding-left: 5px;
}

/* ===============================
 * Home
 * ==============================*/
/* slider */
.carousel-indicators {
  left: inherit;
  right: 10px;
  width: inherit;
  top: 10px;
}

/*#home-slider .item  img{height: 350px;}*/
#home-slider {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #EDEDED;
  border-radius: 2px;
  background: #fff;
  border-width: 5px;
  clear: both;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 2px;
  -webkit-text-size-adjust: 100%;
}

.carousel-indicators li {
  -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
  display: inline-block;
  background: transparent;
  border-radius: 10px;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  border: 0;
}

.carousel-indicators li.active {
  background: #ADADAE;
  cursor: default;
  width: 14px;
  height: 14px;
}

#home_intro {
  margin-top: 15px;
}

#home_intro h1 {
  background: none;
  border: 0;
  color: #3d2317;
  font-size: 21px;
  line-height: 24px;
  margin: 0 0 5px;
  padding: 0;
  text-shadow: none;
}

#home_intro p {
  color: #222;
  font-style: inherit;
  margin: 5px 0;
  padding: 0;
}

/* Home Product*/
.product-list h4 {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background: none;
  border: 0;
  border-bottom: 1px solid #EDEDED;
  color: #623825;
  text-transform: uppercase;
  text-shadow: none;
  margin: 0;
  padding: 8px 0;
}

.product-list
.product-item {
  border: 1px solid #EDEDED;
  border-radius: 2px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: #fff;
  position: relative;
  vertical-align: middle;
  font-size: 13px;
  letter-spacing: normal;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}

.new {
  color: #a6754b;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  margin-right: 5px;
}

.product_image img {
  width: 100%;
}

.product_desc p {
  font-size: 15px;
  height: 32px;
  line-height: 16px;
  text-align: center;
  margin: 5px 0 0;
  overflow: hidden;
}

.product-price {
  text-align: center;
  padding-bottom: 5px;
}
.content_prices .product-price {float: right;}

.product-price p {
  display: inline-block;
  color: #6f3f28;
  font-family: Federo,sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 18px;
}

.product-item .box2 {
  text-align: center;
  margin: 5px 2px;
  overflow: hidden;
  width: 98%;
}

.product-item .button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 26%;
  padding: 8px;
}

.product-item .exclusive {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 72%;
  padding: 8px;
  color:#fff;
}

/* ===============================
 * authentication
 * ==============================*/
.panel {
  border: 1px solid #ebded2;
  padding: 10px;
  background-color: #F9F9F9;
}

.panel-heading {
  background-color: #8A8A8B;
  background-image: #8A8A8B;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff623824',endColorstr='#ff3d2317',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #8A8A8B;
  border: 1px solid #8A8A8B;
  border-bottom-color: #8A8A8B;
  border-radius: 2px;
}

.panel h4 {
  /*color: #fff;*/
  line-height: 18px;
  margin: 5px 10px 20px 0;
}

.panel .panel-title{
  color: #fff;
  font-size: 19px;
}

.panel .btn {
  background-color: #bc9472;
  background-image: -webkit-linear-gradient(top,#cba98c,#a6754b);
  background-image: linear-gradient(to bottom,#cba98c,#a6754b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcba98b',endColorstr='#ffa6754b',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #835c3b;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #a6754b;
  border-bottom-color: #835c3b;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  color: #fff;
}

.submit-btn {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #fcfcfc;
  overflow: hidden;
  clear: both;
  margin: 10px 0 0;
  padding: 10px !important;
}

/* ===============================
 * category
 * ==============================*/
.category-product-count {
  font-size: 14px;
  float: right;
  text-transform: none;
}

.cat_desc {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #f9f9f9;
  font-size: 12px;
  text-align: center;
  margin: 10px 0 5px;
  padding: 10px;
}

#subcategories {
  overflow: hidden;
}

#subcategories ul {
  list-style-type: none;
}

#subcategories .subc {
  border: 1px solid #2a1810;
  border-bottom-color: #050302;
  border-radius: 2px;
  background: #3d2317;
  float: left;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#subcategories .subc {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  min-height: 26px;
  float: left;
  width: 100%;
}

#subcategories .img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  background: #fff;
}

#subcategories .img img {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  background: #fff;
 /* width: 80px;*/
  height: 58px;
}

#subcategories .cat_name {
  display: block;
  height: 16px;
  color: #fff;
  font-family: Federo,sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
  overflow: hidden;
}

#subcategories img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#subcategories .img:hover img {
  opacity: .6;
  filter: alpha(opacity=60);
}

#subcategories .cat_name:hover {
  color: #A66A35;
}

.content_sortPagiBar {
  clear: both;
  margin: 10px 0 5px;
}

.sortPagiBar {
  background-color: #f4e9e3;
  background-image: -webkit-linear-gradient(top,#faf5f2,#ecd7cd);
  background-image: linear-gradient(to bottom,#faf5f2,#ecd7cd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffaf4f1',endColorstr='#ffecd6cc',GradientType=0);
  color: #623825;
  text-shadow: 1px 1px 0 #fff;
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  padding: 5px;
  overflow: hidden;
}

.sortPagiBar p {
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
}

.content_sortPagiBar select {
  height: 25px;
}

.sortPagiBar .gridorlist {
  float: right;
  height: 26px;
}

.sortPagiBar .gridorlist a {
  display: inline-block;
  background: #fff;
  border: 1px solid #ebded2;
  border-radius: 2px;
}

.sortPagiBar .gridorlist i {
  opacity: .4;
  filter: alpha(opacity=40);
  font-size: 16px;
  color: #623825;
  display: block;
  padding: 5px;
}

.gridorlist .active i {
  opacity: 1;
}

/* pagiation */
.pagination {
  float: right;
  margin: inherit;
}

.pagination ul {
  float: right;
  list-style-type: none;
}

.pagination .disabled {
  display: none;
}

.pagination li {
  float: left;
  margin-left: 5px;
}
.pagination li.dead-link {
  display: none;
}
.pagination span {
  background-color: #bc9472;
  background-image: -webkit-linear-gradient(top,#cba98c,#a6754b);
  background-image: linear-gradient(to bottom,#cba98c,#a6754b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcba98b',endColorstr='#ffa6754b',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #835c3b;
  border: 1px solid #a6754b;
  border-bottom-color: #835c3b;
  border-radius: 2px;
}

.pagination span,.pagination a {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  display: block;
  font-size: 11px;
  padding: 5px 8px 3px;
}

#pagination_next a {
  font-size: 14px;
  padding: 4px 6px;
}

.pagination a {
  background-color: #53301f;
  background-image: -webkit-linear-gradient(top,#623825,#3d2317);
  background-image: linear-gradient(to bottom,#623825,#3d2317);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff623824',endColorstr='#ff3d2317',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #2a1810;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #3d2317;
  border-bottom-color: #180e09;
  border-radius: 2px;
}

.pagination>li>a,.pagination>li>span {
  color: #fff;
}
.product-list .available{display: none;}
/*product list list*/
.product-list.list img {
  width: 160px;
}

.product-list.list .product-item {
  padding: 10px 0;
}

.product-list.list .box1 {
  width: 68%;
  float: left;
  border-right: 1px solid #ebded2;
}

.product-list.list .box2 {
  width: 30%;
}

.product-list.list .product_img_container {
  width: 30%;
  float: left;
}

.product-list.list .product_desc {
  width: 70%;
  float: left;
}

.product-list.list .btns .button {
  display: none;
}

.product-list.list .btns .exclusive {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 110px;
}

.product-list.list .product-price {
  text-align: end;
}

.product-list.list .short-description {
  display: block;
  font-size: 12px;
  height: 42px;
  line-height: 14px;
  overflow: hidden;
}

.product-list.list .product_desc p {
  text-align: inherit;
}

.product-list.list .lnk_view:hover,.product_list.list .lnk_view:focus,.product_list.list .lnk_view:active {
  color: #a6754b;
}

.product-list.list .lnk_view {
  display: block;
  left: 2px;
  bottom: 0;
  color: #623825;
  font-weight: 700;
  padding: 5px;
  padding-left: 20px;
}

.product-list.list .lnk_view:after {
  content: "\f0da";
  font-family: 'FontAwesome';
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  float: left;
  margin: 0 2px 0 -2px;
}

.product-list.list #availability_value {
  display: block;
  text-align: end;
  display: block;
  font-weight: 700;
}
.product-list.list .available {
  color: #418b19;
}

.product-list.list .compare {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 12px;
  bottom: 50px;
}

.product-list.list .compare label {
  font-weight: inherit;
}

/* ===============================
 * Product Page
 * ==============================*/
/*slider*/
.flexslider {
  margin: 0 0 25px;
}

/*Short description*/
.short_description_block {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
}

.short_description_block .online_only {
  color: #a6754b;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.short_description_block .lnk:hover {
  color: #623825;
}

.short_description_block .lnk {
  display: inline-block;
  color: #a6754b;
  font-weight: 700;
  margin: 5px 0 0;
}

.short_description_block .short_description_pack {
  margin-top: 10px;
}

.short_description_pack h3 {
  color: #623825;
  font-family: Federo,sans-serif;
  font-weight: 300;
  margin: 0 0 15px;
}

/*product attribut*/
.product_attributes {
  border-top: 1px solid #ebded2;
  border-bottom: 1px solid #ebded2;
  text-align: right;
  padding: 10px 0;
}

.product_attributes .attributes {
  text-align: initial;
}

.product_attributes select {
  height: 25px;
}

.color_pick_li {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  float: left;
  margin: 0 6px 6px 0;
  padding: 1px;
}

.color_pick_li a {
  display: block;
  width: 15px;
  height: 15px;
}

.color_1 {
  background: #C69A72;
}

.color_2 {
  background: #6F3F28;
}

.attributes label[for='Couleur'] {
  float: left;
  padding-right: 19px;
}

.pack_price {
  color: #a6754b;
  font-weight: 700;
  margin-top: 5px;
}

.product_attributes .pack_price span {
  text-decoration: line-through;
}

.product_attributes #product_reference {
  margin-top: 5px;
}

.product_attributes #product_reference span {
  color: #623825;
  font-weight: 700;
}

.product_attributes #availability_statut {
  margin: 10px 0 0;
}

.product_attributes #availability_statut #availability_label {
  display: inline-block;
  font-weight: 700;
  margin-right: 2px;
}

/*.product_attributes #availability_statut #availability_value {
  padding: 2px 0 2px 20px;
}*/

/*.product_attributes #availability_statut .available {
  background: url(http://www.prestacrea.com/demo/chocostore/themes/chocostore/css/../img/icon/available.png) no-repeat left -1px;
}
*/
.product_attributes #pQuantityAvailable {
  margin: 5px 0 0;
}

.product_attributes #pQuantityAvailable #quantityAvailable {
  font-size: 16px;
  color: #a6754b;
}

/*add to cart*/
.product-block .add_to_cart_block {
  padding: 10px 0;
}

.product-block #quantity_wanted_p {
  float: right;
  margin: 0 10px 0 0;
}

.product-block #quantity_wanted_p input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 2px 6px;
}

.product-block label,.product-block #availability_statut #availability_label,.product-block #availability_date #availability_date_label {
  display: inline-block;
  font-weight: 700;
  margin-right: 2px;
}

.product-block .add_to_cart_block .exclusive,.product-block .add_to_cart_block .exclusive_disabled {
  float: right;
  clear: right;
  font-family: Federo,sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  line-height: 21px;
  margin-bottom: 10px;
  padding: 6px 20px;
  -webkit-appearance: none;
}

.product-block #loyalty {
  font-size: 12px;
  text-align: right;
  clear: both;
  padding-top: 10px;
}

#usefull_link_block li:before {
  vertical-align: text-bottom;
  content: "\f0da";
  font-family: 'FontAwesome';
  font-weight: 300;
  float: left;
  margin: -1px 5px 0 -2px;
}

/*quantity_discount*/
#quantity_discount,#more_info_block,#hook_product_tab,#blockpack {
  clear: both;
  margin: 15px 0;
}

/*product tabs*/
.idTabs li.active a,.idTabs a.selected {
  background-color: #53301f;
  background-image: -webkit-linear-gradient(top,#623825,#3d2317);
  background-image: linear-gradient(to bottom,#623825,#3d2317);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff623824',endColorstr='#ff3d2317',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #3d2317;
  opacity: 1;
  filter: alpha(opacity=100);
  border: 1px solid #3d2317;
  cursor: default;
}

.idTabs a {
  background-color: #bc9472;
  background-image: -webkit-linear-gradient(top,#cba98c,#a6754b);
  background-image: linear-gradient(to bottom,#cba98c,#a6754b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcba98b',endColorstr='#ffa6754b',GradientType=0);
  color: #fff;
  text-shadow: 1px 1px 0 #a6754b;
  opacity: .6;
  filter: alpha(opacity=60);
  border: 1px solid #a6754b;
  border-radius: 2px 2px 0 0;
  display: block;
  font-family: Federo,sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-right: 5px;
  padding: 8px 10px !important;
}

.idTabs li {
  float: left;
  margin-bottom: -1px;
}

.tab-content {
  background: #fff;
  border-top: 1px solid #ebded2;
  clear: both;
  padding: 10px 0;
}

#quantity_discount table th {
  padding: 10px;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
  color: #fff;
}

/*.rte p {
  padding: 5px 0;
}*/

.tab-content .bullet {
  list-style-type: square;
  margin: 0 0 0 20px;
}

#idTab2 span {
  font-weight: 700;
}

.customization_block {
  background: #fcfcfc;
  border: 1px solid #ebded2;
  border-radius: 2px;
  padding: 10px;
}

.customization_block .infoCustomizable {
  border-bottom: 1px solid #ebded2;
  padding: 0 0 5px 30px;
}

.customization_block .infoCustomizable:before {
  content: "\f05a";
  font-family: 'FontAwesome';
  font-size: 25px;
  font-weight: 300;
  position: absolute;
  margin: 5px 0 0 -30px;
}

.customization_block .customizableProductsFile,.customization_block .customizableProductsText {
  border-bottom: 1px solid #ebded2;
  padding: 10px 0 5px;
}

.customization_block .customizationUploadLine {
  padding-bottom: 10px;
}

.customization_block #customizedDatas {
  padding: 10px 0;
}

/*accessories */
#accessories_block .products_block li {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  display: block;
  background: #fff;
  width: auto;
  min-height: 72px;
  margin-bottom: 0;
  padding: 5px;
  margin-top: 10px;
}

#accessories_block .products_block .product_image {
  width: auto;
  float: left;
  margin-right: 10px;
}

.products_block .product_image img {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  background: #fff;
}

#accessories_block .products_block h5 {
  text-align: right;
  margin: 0 0 8px;
  padding: 0;
}

#accessories_block .products_block h5 a {
  color: #000;
}

#accessories_block .products_block .price_container {
  left: 6px;
  bottom: 5px;
  height: auto;
  margin: 0;
  float: left;
  clear: both;
}

#accessories_block .products_block .price {
  font-size: 16px;
  line-height: 16px;
}

.products_block .price {
  display: inline-block;
  color: #6f3f28;
  font-family: Federo,sans-serif;
  font-size: 18px;
  font-weight: 300;
}

#accessories_block .accessories_btn {
  float: right;
}

/*Comment tab*/
.sheets {
  background: #fff;
  border-top: 1px solid #ebded2;
  clear: both;
  padding: 10px 0;
}

#idTab5 h2 {
  display: none;
}

.star {
  display: inline-block;
  width: 10px;
  height: 14px;
}

.star:before {
  content: "\f005";
  font-family: 'FontAwesome';
  font-size: 14px;
  font-weight: 300;
  color: #ccc;
}

.star_hover:before,.star_on:before {
  color: #a6754b;
}

.star a,.star-rating:before {
  display: none;
}

#sendComment {
  position: relative;
}

#sendComment fieldset {
  background: #fcfcfc;
}

#sendComment .align_right {
  position: absolute;
  top: 10px;
  right: 15px;
}

#sendComment table {
  width: 240px;
  margin: 10px 5px;
}

/* carousel */
.media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px;
  margin-top: 30px;
}

/* Previous button  */
.media-carousel .carousel-control.left {
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222;
  border: 4px solid #FFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 30px;
}

/* Next button  */
.media-carousel .carousel-control.right {
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222;
  border: 4px solid #FFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 30px;
}

/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0;
  margin-right: -19px;
}

/* Changes the colour of the indicators */
.carousel-inner {
  text-align: center;
}

.media-carousel .carousel-indicators li {
  background: silver;
}

.media-carousel .carousel-indicators .active {
  background: #333;
}

.media-carousel img {
  width: 80px;
  height: 80px;
}

#productscategory #productscategory_prev {
  left: 0;
}

#productscategory #productscategory_prev,#productscategory #productscategory_next {
  display: block;
  position: absolute;
  top: 30%;
  color: #a6754b;
  font-family: Arial,sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  margin-top: -25px;
}

#productscategory #productscategory_next {
  right: 0;
}

a.thumbnail:hover,.thumbnail {
  border: inherit;
  margin-bottom: inherit;
}

#productscategory .productscategory_name {
  height: 32px;
  margin: 2px 0;
  overflow: hidden;
}

#productscategory .productscategory_price {
  color: #6f3f28;
  font-family: Federo,sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 16px;
}

/* End carousel */
/* ===============================
 * Stores Page
 * ==============================*/
#stores .store-small {
  border: 1px solid #ebded2;
  border-bottom-color: #dbc3af;
  border-radius: 2px;
  background: #f9f9f9;
  margin: 15px 0;
  padding: 15px;
  overflow: hidden;
}

.bold {
  font-weight: 700;
}

#stores .store-small img {
  background: #fff;
  border: 1px solid #dbc3af;
  border-radius: 2px;
  width: 25%;
  min-width: 100px;
  float: right;
  margin-right: 10px;
  padding: 2px;
}

/* ===============================
 * Contact form
 * ==============================*/

 .contact-form select, .contact-form input{
    height: 25px;
    width: 250px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    background: #ffffff;
    border: 1px solid #cccccc;
    font-family: Arial,sans-serif;
 }

 /* ===============================
 * Site Map
 * ==============================*/

.sitemap {
    background: #ffffff;
    padding: 5px 0;
}
.sitemap .tree li {
    padding-left: 15px;
}
.sitemap .tree li:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    font-weight: 300;
    float: left;
    margin: -1px 5px 0 -2px;
}
.sitemap .tree_top {
    font-weight: 700;
    padding: 0 0 2px 2px;
}

 /* ===============================
 * Top header bar
 * ==============================*/

#header_top_nav {
    background-color: #8A8A8B;
    /*
    background-image: -moz-linear-gradient(top,#3d2317,#3d2317);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#3d2317),to(#3d2317));
    background-image: -webkit-linear-gradient(top,#3d2317,#3d2317);
    background-image: -o-linear-gradient(top,#3d2317,#3d2317);
    background-image: linear-gradient(to bottom,#3d2317,#3d2317);
    */
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d2317', endColorstr='#ff3d2317', GradientType=0);
    color: #ffffff;
    text-shadow: 1px 1px 0 #2a1810;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}
#header_top_nav h1 {
    color: #fff;
    border-bottom: none;
    margin: 0px;
    font-size: 13px;

}


/*side bar*/
.grower.CLOSE,.grower.OPEN {
    float: right;
    margin-top: -1px;
    cursor: pointer;
    margin-left: -20px;
}

.grower.CLOSE:before {
    content: "\f0fe";
}
.grower.OPEN:before {
    content: "\f146";
}
.grower.OPEN:before, .grower.CLOSE:before {
    font-family: 'FontAwesome';
    font-size: 14px;
    font-weight: 300;
  }
ul.collapse li{
    background: none;
    border: 0;
    list-style-type: square;
    font-weight: 300;
    padding: 2px 0;
    margin-left: 22px !important;
}
li:hover{
  color: inherit !important;
}
.grower:hover{color: #000;}
ul.collapse li:before{content: none;}
/*a:hover{color: #B68A56 !important};*/

/*product Slider*/

.product-block .carousel {
    margin-top: 20px;
}
.product-block .item .thumb {
  width: 25%;
  cursor: pointer;
  float: left;
}
.product-block.item .thumb img {
  width: 100%;
  margin: 2px;
}
.product-block .item img {
  width: 100%;  
}
.product-block .carousel-control.right {
  right: -28px;
  top: -15px;
  background:none; 
}
.product-block .carousel-control.left {
  background:none; 
  left: -28px;
  top: -15px;
}

a.button_large:hover{color: inherit !important;}
.information_box{
  font-size: 16px;
  //color: #442C1F;
}