
RewriteEngine on
#rewriteBase /
ErrorDocument 404 /okadshop/page404.html

#RewriteRule ^([^/\.]+)?$ index.php?Module=$1 [L]
#RewriteRule ^([^/\.]+)/([^/\.]+)?$ index.php?Module=$1&ID=$2 [L]
#RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)?$ index.php?Module=$1&ID=$2&ID2=$3 [L]



RewriteRule ^(en|de|fr|ar|es|it|nl|pl|pt)/([^/\.]+)?$ index.php?lang=$1&Module=$2 [L]
RewriteRule ^(en|de|fr|ar|es|it|nl|pl|pt)/([^/\.]+)/([^/\.]+)?$ index.php?lang=$1&Module=$2&ID=$3 [L]
RewriteRule ^(en|de|fr|ar|es|it|nl|pl|pt)/([^/\.]+)/([^/\.]+)/([^/\.]+)?$ index.php?lang=$1&Module=$2&ID=$3&ID2=$4 [L]

RewriteRule ^([^/\.]+)?$ index.php?Module=$1 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)?$ index.php?Module=$1&ID=$2 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)?$ index.php?Module=$1&ID=$2&ID2=$3 [L]